.main-page {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-content: stretch;
}

.header {
  height: 30px;
  background-color: #bbb;
  padding: 5px;
  display: flex;
  font-size: 1.3em;
  justify-content: space-between;
}

.icon-button {
  width: 30px;
  text-align: center;
  border: #eee solid 1px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #909090;
}

.icon-button:hover {
  background-color: #ccc;
}

.conversation-page {
  /* flex: 1 0 auto; */
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/18/01/27/background-2076336_1280.jpg");
}

.test {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 5px;
  background-color: darkgray;
}
