body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.App {
  display: flex;
}

.bold {
  font-weight: bold;
}

.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #555;
  /* outline: 1px solid slategray; */
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar {
  width: 0.5em;
}
