.user-profile {
  display: flex;
  height: 100px;
  padding: 10px 3px;
  background-color: #74bf61;
  position: sticky;
  top: 0;
}

.user-avatar {
  height: 80px;
  border-radius: 50%;
}

.user-info {
  font-size: 2em;
  display: flex;
  margin: 0 8px;
  flex-flow: column;
}
